@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*


// Media Desktop Tall
@media screen and (min-width: $media-tall)  {}

// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Movil Rotate
@media screen and (min-width: $media-small-xs) and (max-width: $media-tall) and (orientation:landscape) {}

*/
.header {
  background: transparent;
  width: 90%;
  height: 60px;
  margin: auto;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.header .cont-logo {
  display: inline-block;
}
.header .cont-logo .logo-img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}
.header .cont-logo .logo-title {
  display: inline;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: red;
}
.header .cont-menu {
  display: inline-block;
}
.header .cont-menu .nav .nav-ul {
  list-style-type: none;
  margin-top: 20px;
}
.header .cont-menu .nav .nav-ul .nav-li {
  float: center;
  display: inline;
  margin: 0px 15px 0px 15px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: whitesmoke;
}
.header .menuBurguer {
  display: none;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .header .cont-logo .logo-img {
    width: 30px;
    height: 30px;
  }
  .header .cont-logo .logo-title {
    font-size: 25px;
  }
  .header .cont-menu .nav {
    display: none;
  }
  .header .menuBurguer {
    display: block;
    width: 30px;
    heigth: 30px;
  }
}
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../../../public/background-home.jpg");
  background-size: cover;
  display: block;
  margin: auto;
  margin-top: -70px;
  height: 550px;
  padding: 230px 10% 0px 10%;
}
.home .title-home {
  font-family: sans-serif;
  font-size: 65px;
  font-weight: 800;
  color: whitesmoke;
  text-transform: uppercase;
}
.home .subtitle-home {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: whitesmoke;
  margin-top: 20px;
}
.home .contCard-home {
  height: 125px;
  width: 100%;
  margin: auto;
  background: transparent;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.home .contCard-home .cardHome {
  width: 380px;
  height: 100%;
  background: transparent;
}
.home .contCard-home .cardHome .imgCardHome {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: sub;
}
.home .contCard-home .cardHome .textCardHome {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
  display: inline-block;
  width: 60%;
}
.home .btnHome {
  border: solid 3px whitesmoke;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  background: transparent;
  display: block;
  margin: auto;
  margin-top: 6px;
}
.home .btnHome a {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
}

@media screen and (max-width: 575px) {
  .home {
    padding: 230px 10% 0px 10%;
  }
  .home .title-home {
    font-size: 45px;
  }
  .home .contCard-home {
    display: grid;
    grid-template-column: repeat(3, 1fr);
  }
  .home .btnHome {
    display: block;
    margin-top: -220px;
  }
}
@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
  .home {
    padding: 230px 5% 0px 5%;
  }
  .home .title-home {
    font-size: 45px;
  }
  .home .btnHome {
    margin-top: 120px;
  }
}
.tourHome {
  background-color: black;
  height: 600px;
  padding: 80px 10% 30px 10%;
}
.tourHome .titleTour-home {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.tourHome .subtitleTour-Home {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: whitesmoke;
  display: block;
  text-align: center;
  margin-top: 15px;
}
.tourHome .contCard-tourHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 100px;
}
.tourHome .contCard-tourHome .cardEsp {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../../../public/imageEspaña.jpg");
  background-size: cover;
  display: block;
  margin: auto;
}
.tourHome .contCard-tourHome .cardFra {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../../../public/imageFrancia.jpg");
  background-size: cover;
  display: block;
  margin: auto;
}
.tourHome .contCard-tourHome .cardRom {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../../../public/imageRoma.jpg");
  background-size: cover;
  display: block;
  margin: auto;
}
.tourHome .contCard-tourHome .cardEng {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../../../public/imageInglaterra.jpg");
  background-size: cover;
  display: block;
  margin: auto;
}
.tourHome .contCard-tourHome .card-tourHome {
  background-color: red;
  width: 100%;
  height: 350px;
  text-align: center;
}
.tourHome .contCard-tourHome .card-tourHome .titleCard-tourHome {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: whitesmoke;
  margin-top: 90%;
}
.tourHome .contCard-tourHome .card-tourHome .btnCard-tourHome {
  border: none;
  background: transparent;
  margin-top: 10px;
}
.tourHome .contCard-tourHome .card-tourHome .btnCard-tourHome a {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: whitesmoke;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .tourHome {
    padding: 200px 2% 0px 2%;
  }
  .tourHome .contCard-tourHome {
    margin-top: 60px;
  }
}
.contactHome {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../../../public/background-contactHome.jpg");
  background-size: cover;
  display: block;
  margin: auto;
  margin-top: -70px;
  height: 270px;
  padding: 150px 10% 150px 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.contactHome .titleContact-home {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: whitesmoke;
  grid-column: 1;
  grid-row: 1;
  display: block;
  margin-top: 30px;
}
.contactHome .subtitleContact-home {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: whitesmoke;
  grid-column: 1;
  grid-row: 1;
  display: block;
  margin-top: 160px;
}
.contactHome .cardContact-Home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../../../public/imageSpain02.jpg");
  background-size: cover;
  display: block;
  margin: auto;
  grid-column: 2;
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactHome .cardContact-Home .btnContact-home {
  border: solid 3px whitesmoke;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactHome .cardContact-Home .btnContact-home a {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: whitesmoke;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .contactHome {
    padding: 100px 2% 150px 2%;
  }
  .contactHome .titleContact-home {
    font-size: 22px;
  }
  .contactHome .subtitleContact-home {
    font-size: 15px;
    margin-top: 270px;
  }
}
@media screen and (min-width: 575px) and (max-width: 990px) {
  .contactHome {
    padding: 100px 2% 150px 2%;
  }
  .contactHome .titleContact-home {
    font-size: 22px;
  }
  .contactHome .subtitleContact-home {
    font-size: 15px;
    margin-top: 120px;
  }
}/*# sourceMappingURL=style.css.map */