$BackgroundHome: '../../../public/background-home.jpg' ;
$backgroundCotactHome: '../../../public/background-contactHome.jpg' ;

$cardEsp: '../../../public/imageEspaña.jpg' ;
$cardFra: '../../../public/imageFrancia.jpg' ;
$cardRom: '../../../public/imageRoma.jpg' ;
$cardEng: '../../../public/imageInglaterra.jpg' ;
$cardContact: '../../../public/imageSpain02.jpg' ;

